pandas
numpy
seaborn
matplotlib
scikit-learn
requests
tqdm
langdetect
scipy
transformers
datasets<4
accelerate
bitsandbytes
peft
sentencepiece
tokenizers
trl==0.9.6

# Baixar pytorch seguindo esse link para evitar conflitos e instalar versões não compativeis do cuda com a gpu https://pytorch.org/get-started/locally/